<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="app.css" />
  <link
    rel="icon"
    type="image/x-icon"
    href="https://api.iconify.design/logos:twitter.svg"
  />
  <title>{{title}} / Twitter</title>
  <style>
    .validate_error {
      border: 1px solid red;
    }

    .validate_error:focus {
      border: 1px solid red;
    }

    .output_images_2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2px;
    }

    .output_images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2px;
    }
  </style>
</head>
