<div
  class="relative hidden md:flex flex-col pb-1 mr-6 min-w-widget max-w-widget min-[1200px]:w-widgetxl min-[1200px]:max-w-widgetxl lg:max-w-widget min-[1320px]:min-w-widgetxl"
>
  % if logged_user:
  <!-- only display these if logged in -->
  <!-- search -->
  <div
    class="fixed top-0 z-30 min-w-widget min-[1200px]:w-widgetxl lg:max-w-widget min-[1320px]:min-w-widgetxl bg-black pt-1.5 pb-1 mr-6 flex-grow"
  >
    % include('comp-form-search', isCenter="")
  </div>
  <!-- trends -->
  <!-- prettier-ignore -->
  <div class="mt-16">
    % include('comp-trends', trends=trends)
  </div>
  <div class="sticky top-10">
    <!-- follower suggestions -->
    % include('comp-follower-suggestions', fsugg=fsugg)
    <!-- footer -->
    % include('comp-footer')
  </div>

  %end

  <!-- signup comp -->
  % if not logged_user:
  <!-- prettier-ignore -->
  <div class="mt-1.5">
    % include('comp-signup-cta')
  </div>
  % include('comp-footer')
  <!-- signup comp end -->
  %end
</div>
