<!DOCTYPE html>

<html lang="en">
  % include('comp-head', title='Login')
  <body class="bg-black h-screen flex justify-center items-center text-white">
    <div class="grid p-4 mx-4 w-full max-w-feed">
      <svg
        xml
        s="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="text-twitterblue justify-self-center w-20 h-auto"
      >
        <path
          fill="currentColor"
          d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"
        />
      </svg>

      <h1 class="text-xl text-center mb-6">Log on Twitter</h1>
      <form
        class="flex flex-col"
        method="POST"
        action="/login"
        name="login_form"
        onsubmit="validate(() => document.login_form.submit()); return false"
      >
        <label for="login_user_name" class="text-md mb-1">Username</label>
        <!-- prettier-ignore -->
        <input id="login_user_name" 
        class="h-10 text-black rounded-sm border-2 px-2
        % if 'Username' in error:
        border-t-red-500
        border-b-red-500
        border-r-red-500
        border-l-red-500
        % else:
        border-white
        % end
        focus:outline-none focus:border-twitterblue" 
        name="login_user_name"
        value="elonmusk"
        placeholder="username"
        type="text" 
        data-validate="str" 
        data-min="{{username_min_length}}"
        data-max="{{username_max_length}}"
        error-msg-required="Username is required"
        error-msg-len="{{username_error}}"
         />

        <!-- prettier -->
        % if "Username" in error:
        <p
          id="login_user_name_backend_error_msg"
          class="text-red-500 text-sm mt-1"
        >
          {{error}}
        </p>
        % end
        <p
          id="login_user_name_error_msg"
          class="hidden text-red-500 text-sm mt-1"
        >
          Username is required
        </p>

        <label for="login_password" class="text-md mt-4 mb-1">Password</label>
        <!-- prettier-ignore -->
        <input
          id="login_password"
          class="h-10 text-black rounded-sm border-2 px-2
          % if 'password' in error:
          border-t-red-500
          border-b-red-500
          border-r-red-500
          border-l-red-500
          % else:
          border-white
          % end
          focus:outline-none focus:border-twitterblue"
          name="login_password"
          value="elonmuskpass"
          placeholder="password"
          type="password"
          data-validate="str"
          data-min="{{password_min_length}}"
          data-max="{{password_max_length}}"
          error-msg-required="Password is required"
          error-msg-len="{{password_error}}"
        />

        % if "password" in error:
        <p
          id="login_user_name_backend_error_msg"
          class="text-red-500 text-sm mt-1"
        >
          {{error}}
        </p>
        % end
        <p
          id="login_password_error_msg"
          class="hidden text-red-500 text-sm mt-1"
        >
          Password is required
        </p>

        <button
          class="bg-twitterblue rounded-full text-lg font-bold py-3 mt-8 hover:bg-opacity-[90%]"
          type="submit"
        >
          Login
        </button>
      </form>
    </div>
    <script src="/js/validate.js"></script>
  </body>
</html>
