<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://api.iconify.design/logos:twitter.svg"
    />
    <title>{{user["fullname"]}} @({{user["username"]}}) / Twitter</title>
  </head>
  <body
    class="w-full h-full flex justify-center text-gray-200 text-lg bg-black overflow-hidden overflow-y-scroll"
  >
    <div class="flex max-w-layout flex-grow">
      <div
        class="hidden sm:block top-0 left-0 max-w-feed w-2/12 md:w-1/12 lg:w-3/12 xl:w-4/12 h-screen pt-4"
      ></div>
      % include('layout/mobile-header')

      <!-- left/nav -->
      % include('layout/header')

      <!-- center/content -->

      <div
        class="flex flex-grow w-12/12 sm-10/12 md:w-11/12 lg:w-9/12 xl:w-8/12 md:gap-6 lg:gap-8"
      >
        <!-- feed -->
        <div
          class="flex flex-col flex-grow max-w-feed sm:border-x sm:border-zinc-700"
        >
          <!--  profile header -->
          <div>
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
                />
              </svg>
            </button>
            <div>navn tweets</div>
          </div>

          <!-- tweet -->

          <!-- end tweet -->
        </div>

        <!-- widget -->
        % include('suggestions-nav')
      </div>
    </div>
  </body>
</html>
