<div class="relative flex justify-center">
<div class="fixed right-0 top-0 lg:w-3/12 hidden lg:block mr-4 pb-1">
    <div class="relative top-0 w-full mt-1">
    <input class="w-full h-12 rounded-full bg-zinc-800 text-base placeholder-zinc-500 pl-12" placeholder="Search Twitter" type="text">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 absolute text-zinc-500 top-3.5 left-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>
</div>

<div class=" w-full bg-zinc-800 pt-3 mt-4 mr-4 rounded-xl">
    <h2 class="text-xl font-bold px-4 pb-2">Trends for you</h2>
    <ul>
        <li class="relative">
            <a class="relative flex text-base hover:bg-zinc-700 p-4"  href="">
              
                <div>
                    <span class="block text-xs text-zinc-500">Trending in Denmark</span>
                    <span class="block font-bold"> Brøndby</span>
                </div>
            </a>
            <button class="absolute top-4 right-4 rounded-full p-2 hover:bg-sky-500 hover:bg-opacity-20">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-zinc-500 hover:text-sky-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>                      
          </button>
        </li>
        <li class="relative">
          <a class="flex text-base hover:bg-zinc-700 p-4"  href="">
            
              <div>
                  <span class="block text-xs text-zinc-500">Trending in Denmark</span>
                  <span class="block font-bold">Loki</span>
              </div>
          </a>
           
          <button class="absolute top-4 right-4 rounded-full p-2 hover:bg-sky-500 hover:bg-opacity-20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-zinc-500 hover:text-sky-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>                      
        </button>
      </li>
    </ul>

    <button class="w-full flex justify-start p-4 text-sky-500 text-base rounded-b-md hover:bg-zinc-700">Show more</button>

</div>
  </div> 
</div>