
<div
  % if page == "profile": 
  class="relative hidden md:flex flex-col pb-1 mr-6 min-w-widget max-w-widget min-[1200px]:w-widgetxl min-[1200px]:max-w-widgetxl lg:max-w-widget min-[1320px]:min-w-widgetxl"
  % end
  % if page == "home": 
  class="relative hidden md:flex flex-col-reverse justify-end pb-1 mr-6 min-w-widget max-w-widget min-[1200px]:w-widgetxl min-[1200px]:max-w-widgetxl lg:max-w-widget min-[1320px]:min-w-widgetxl"
  % end
  >

    <!-- search -->
    <div
      class="fixed top-0 z-30 min-w-widget min-[1200px]:w-widgetxl lg:max-w-widget min-[1320px]:min-w-widgetxl bg-black py-1.5 mr-6 flex-grow"
    >
      <form class="relative">
        <input
          class="w-full h-11 rounded-full bg-twittergray-800 text-base placeholder-twittergray-500 pl-12 focus:outline-none peer focus:border-twitterblue focus:border focus:bg-black"
          placeholder="Search Twitter"
          type="text"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 absolute text-twittergray-500 top-3 left-4 peer-focus:text-twitterblue"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>
      </form>
    </div>
    <!-- search end -->

    <!-- latest img tweets -->
    % if page == "profile":
    <div
      class="grid grid-cols-3 grid-rows-[100px_minmax(100px,100px)] gap-0.5 rounded-xl overflow-hidden mt-16"
    >
      % for imgtweet in imgtweets:

      <a href="" class="flex col-span-1 row-span-1">
        <img
          class="w-full object-cover"
          src="/images/tweet_imgs/{{imgtweet['tweet_field_img']}}"
          alt=""
        />
      </a>

      % end
    </div>
    % end
    <!--     latest img tweets end -->

    <!-- follow sugggestions -->
    <div 
     % if page == "profile": 
      class="bg-twittergray-900 rounded-xl pt-3 mt-4"
    % end
    % if page == "home": 
     class="sticky top-16 bg-twittergray-900 rounded-xl pt-3 mt-4"
    % end
   >
      <h2 class="text-xl font-bold px-4 pb-2">You might like</h2>
      <ul>
        % for fsug in fsugg:
        <li class="relative">
          <a
            href="/{{fsug['user_name']}}"
            class="flex py-3 px-4 hover:bg-white hover:bg-opacity-[3%]"
          >
            <span class="grid grid-cols-10 gap-2 items-center">
              <img
                src="/images/avatar_imgs/{{fsug['user_img_avatar']}}"
                alt="{{fsug['user_full_name']}} avatar img"
                class="rounded-full col-span-2"
              />
              <span class="col-span-5">
                <span class="flex gap-1">
                  <span
                    class="font-bold text-base text-ellipsis whitespace-nowrap overflow-hidden break-words hover:underline"
                    >{{fsug["user_full_name"]}}</span
                  >

                  % if fsug["user_verified"]:
                  <span>
                    <svg
                      width="18"
                      height="18"
                      viewBox="0 0 24 24"
                      class="text-twitterblue"
                    >
                      <path
                        fill="currentColor"
                        d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45Zm2.35-6.95L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12Z"
                      />
                    </svg>
                  </span>
                  % end
                </span>
                <span class="text-twittergray-500 text-base"
                  >@{{fsug["user_name"]}}</span
                >
              </span>

              <span class="col-span-3"></span>
            </span>
          </a>
          <button
            class="absolute top-[50%] translate-y-[-50%] right-0 z-20 bg-white text-twittergray-900 text-base font-medium rounded-full py-1.5 px-4 mr-4 hover:bg-opacity-90"
          >
            Follow
          </button>
        </li>
        % end
      </ul>
      <a
        href=""
        class="w-full flex justify-start p-4 text-twitterblue text-base rounded-b-md hover:bg-white hover:bg-opacity-[3%]"
      >
        Show more
      </a>
    </div>
    <!-- follow sugggestions end -->

    <!--  trends -->
    <div
    % if page == "profile": 
    class="sticky top-16 w-full bg-twittergray-900 pt-3 mt-4 mr-4 rounded-xl"
    % end
    % if page == "home": 
    class="w-full bg-twittergray-900 pt-3 mt-16 mr-4 rounded-xl"
    % end
    >
      <h2 class="text-xl font-bold px-4 pb-2">Trends for you</h2>
      <ul>
        % for trend in trends:
        <li class="relative">
          <a
            class="relative flex flex-col gap-1 hover:bg-white hover:bg-opacity-[3%] p-4"
            href="/"
          >
            <span class="block font-bold text-base">
              {{trend["trend_title"]}}</span
            >
            <span class="text-sm text-twittergray-500"
              >{{trend["trend_total_tweets"]}} Tweets</span
            >
          </a>
          <button
            class="absolute top-4 right-4 rounded-full p-1 group hover:bg-twitterblue hover:bg-opacity-10"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 text-twittergray-500 group-hover:text-twitterblue"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
              />
            </svg>
          </button>
        </li>
        % end
      </ul>

      <a
        href=""
        class="w-full flex justify-start p-4 text-twitterblue text-base rounded-b-md hover:bg-white hover:bg-opacity-[3%]"
      >
        Show more
      </a>
    </div>
    <!-- trends end -->
  </div>
</div>
