<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sms test</title>
  </head>
  <body>
    <div>
      <h1>Send sms</h1>
    </div>
    <form onsubmit="sendSms(); return false;">
      <label for="phone_number">Phone number</label>
      <input name="phone_number" type="text" value="42769758" />
      <label for="text_msg">Phone number</label>
      <input name="text_msg" type="text" value="Test sms" />
      <button type="submit">send sms</button>
    </form>
    <script>
        async function sendSms() {
        //alert("Form submitted");

        const frm = event.target;
        const resp = await fetch("/api-send-sms", {
          method: "POST",
          body: new FormData(frm),
        });

        const data = await resp.json();
        console.log(data);
      }
    </script>
    </script>
  </body>
</html>
