<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.css" />
    <title>Document</title>
  </head>
  <body class="h-screen w-screen flex justify-center flex-col items-center">
    <div class="mt-4">
      <p>Tweet form here</p>
      <form
        method="POST"
        class="flex gap-2"
        onsubmit="validate(handleSubmitTweet); return false"
      >
        <input
          class="border"
          name="tweet_field_text"
          type="text"
          data-validate="str"
          data-min="{{min_length}}"
          data-max="{{max_length}}"
        />

        <button
          class="bg-twitterblue text-white text-base px-2 py-1 rounded-xl"
          type="submit"
        >
          Tweet
        </button>
      </form>
    </div>

    <section id="tweets">
      % for tweet in tweets:
      <div>{{tweet["tweet_message"]}}</div>
      % end
    </section>

    <script src="/js/validate.js"></script>
    <script>
      async function handleSubmitTweet() {
        const frm = event.target;

        const resp = await fetch("/tweet", {
          method: "POST",
          body: new FormData(frm),
        });

        const data = await resp.json();
        console.log(data);
        const msg = frm.querySelector("input[name='tweet_field_text']").value;
        console.log(msg);

        document
          .querySelector("#tweets")
          .insertAdjacentHTML(
            "afterbegin",
            `<div><p>${data.tweet_id}</p><p>${msg}</p></div>`
          );
        //alert("submitted");
      }
    </script>
  </body>
</html>
